.newsletter-form-container {
  max-width: 800px;
  padding: 0rem 2rem;
  h1 {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.4rem;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  form {
    input {
      display: block;
      width: 100%;
      margin-bottom: 1rem;
      padding: 0.8rem 0rem;
      background-color: #1a1a1a;
      border: 1px solid #333;
      color: #fff;
      padding: 0.65rem 0.9rem;
      border-radius: 5px;
      font-size: 0.95rem;
      transition: border 0.2s ease;
      &::placeholder {
        color: #888;
      }
    }
    button {
      background-color: #00a651;
      outline: none;
      border: none;
      padding: 1rem 2rem;
      color: white;
      cursor: pointer;
      transition: all ease-in-out 300ms;
      border-radius: 5px;
      &:hover {
        background-color: black;
        color: white;
        border: 5px solid #00a651;
      }
    }
  }
}
