body {
  background-color: black;
  min-height: 100vh;
  text-align: center;
  padding-top: 2rem;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}
a:hover {
  color: blue;
}
p {
  font-size: 1.2rem;
}
